*{
    margin: 0;
}
body{
    background-color: rgb(133, 204, 226);
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container {
    border: solid black;
    background-color: rgba(226, 200, 200, 0.678); 
    width: 400px;
    height: 400px;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.time{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.botones button{
    border-radius: 5px;
    background-color: rgba(224, 210, 198, 0.808);
    cursor: pointer;
    font-size: 20px;
}

@media screen and  (max-width: 1200px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column: 2 span;    
    }
    .botones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}