*{
    margin: 0;
}
body{
    background: linear-gradient(rgb(133, 204, 226),rgb(87, 226, 226),rgb(151, 151, 238));
    height: 90vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.container {
    border: solid black;
    background-color: rgba(235, 224, 224, 0.87); 
    width: 400px;
    height: 400px;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;
}
.time{
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}
.botones button{
    border-radius: 5px;
    background-color: rgba(224, 216, 209, 0.808);
    cursor: pointer;
    font-size: 20px;
}

@media screen and  (max-width: 1200px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-column: 2 span;    
    }
    .botones{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}